<% #  must pass in local 'item' that's a BentoSearch::ResultItem
   #
   # Note this will result in a variable `item_counter being available,
   # with a 0-based counter. Under-documented Rails feature. Counter, however, 
   # is of _current collection_ (not actual remote result index). See
   # bento_item_index helper method. 
   #
   # Custom partials meant to take this place of this one should
   # use same convention, local 'item'. 
%>


<div class="bento_item">
  <%= render :partial => "bento_search/item_title", :object => item, :as => 'item'  %>
    
  <div class="bento_item_body">
    
    
    <% if item.authors.length > 0 %>
      <p class="bento_item_authors">  
        <%= bento_item_authors(item) %>            
      </p>
    <% end %>      
          
    <% if item.published_in %>
      <p class="bento_item_row published_in">
        <span class="bento_value"><%= item.published_in %> </span>
      </p>
    <% end %>
    
    <% if item.abstract %>
      <p class="bento_item_abstract">
        <%= bento_truncate( item.abstract ) %>
      </p>
    <% end %>
    
    <% if item.other_links.present? %>
      <p class="bento_item_other_links">
        <%= render :partial => "bento_search/link", :collection => item.other_links %>
      </p>
    <% end %>
  </div>
  
</div>
